.dashboard{
    margin: auto;
    text-align: center;
    font-size: 200%;
    width: 80%;
}
h2{
    font-size: 200%;
    font-weight: bolder;
    margin-top: 0;
    width: auto;
}
#increase-btn{
    padding: 10px;
    width: 90%;
    font-size: xx-large;
    margin-top: 0;
    border-radius: 15px;
    font-size: 80%;
    text-transform: uppercase;
    background-color: rgba(226, 31, 63, 0.751);
    color: #ffffff;
}
#reset-btn{
    padding: 10px;
    width: 90%;
    font-size: xx-large;
    margin-top: 0;
    border-radius: 15px;
    font-size: 80%;
    text-transform: uppercase;
    background-color: rgba(226, 31, 63, 0.751);
    color: #ffffff;
}
#save-btn{
    padding: 10px;
    width: 90%;
    font-size: xx-large;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 80%;
    text-transform: uppercase;
    background-color: rgba(92, 0, 154, 0.763);
    color: #ffffff;
}

#increase-btn:hover{
    background-color: royalblue;
    border: 5px solid black;
}
#reset-btn:hover{
    background-color: royalblue;
    border: 5px solid black;
}
#save-btn:hover{
    background-color: rgba(154, 0, 0, 0.763);
    border: 5px solid black;
}