body{
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.opens{
    left: 150px;
}

.opens .nav{
    left: 0;
}

.toogle{
    text-decoration: none;
}

.nav{
    background-color: black;
    color: white;
    left: -150px;
    top: 0;
    width: 150px;
    position: fixed;
    height: 100%;
}
.list{
    list-style-type: none;
}
li{
    padding-bottom: 20px;
}
.list a {
    text-decoration: none;
    color: white;
}
.list a:hover{
    color: brown;
    font-size: larger;
}