body{
    margin: 0;
}
.circle{
    background-color: rgb(221, 255, 0);
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    color: aqua;
    margin-top: ;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.sky{
    padding: 11px 20px 0;
    background-color: skyblue;
    height: 188px;
}
.grass{
    background-color: rgb(52, 140, 49);
    height: 170px;
}
.road{
    background-color: #405a72;
    height: 150px;
    border-top: #2f4356 solid 5px;
    border-bottom: #233545 solid 5px;
}
.lines{
    box-sizing: border-box;
    border: 5px dashed #ffff;
    height: 0;
    width: 100%;
    margin-top: 70px;
}
.circle:hover{
    background-color: red;
    transform: rotate(360deg);
}
.box{
    margin: 10px auto;
    padding: 25px 0;
    line-height: 10px 0;
    width: 50px;
    border-radius: 100%;
    border: 3px dashed;
    position: absolute;
    animation-name: rotate, rotate1;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}
.box1{
    margin: 90px auto;
    padding: 25px 0;
    line-height: 10px 0;
    width: 50px;
    border-radius: 100%;
    border: 3px dashed;
    position: absolute;
    animation-name: rotate, roatate2;
    animation-fill-mode: both;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}


@keyframes rotate{
    from{transform: translateX(50px);}
    to{transform: translateX(500px);}
}
